<section class="block container block-features">
    <header class="block__header">
        <h2>Host on the Cloud to Keep Growing</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, rerum.</p>
    </header>
    <article class="grid grid--cols-2 feature">
        <div class="feature__content">
            <span class="icon-container">
                <svg class="icon icon--primary">
                    <use xlink:href="images/sprite.svg#easy"></use>
                </svg>
            </span>
            <h3 class="feature__heading">Easy Start & Managed Updates</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, culpa.</p>
            <a class="link-arrow" href="#"> Learn More</a>
        </div>
        <img class="feature__image" src="images/easy.jpg">   
    </article>
    <article class="grid grid--cols-2 feature">
        <div class="feature__content">
            <span class="icon-container">
                <svg class="icon icon--primary">
                    <use xlink:href="images/sprite.svg#easy"></use>
                </svg>
            </span>
            <h3 class="feature__heading">Easy Start & Managed Updates</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, culpa.</p>
            <a class="link-arrow" href="#"> Learn More</a>
        </div>
        <img class="feature__image" src="images/easy.jpg">   
    </article>
    <article class="grid grid--cols-2 feature">
        <div class="feature__content">
            <span class="icon-container">
                <svg class="icon icon--primary">
                    <use xlink:href="images/sprite.svg#easy"></use>
                </svg>
            </span>
            <h3 class="feature__heading">Easy Start & Managed Updates</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, culpa.</p>
            <a class="link-arrow" href="#"> Learn More</a>
        </div>
        <img class="feature__image" src="images/easy.jpg">   
    </article>
    <article class="grid grid--cols-2 feature">
        <div class="feature__content">
            <span class="icon-container">
                <svg class="icon icon--primary">
                    <use xlink:href="images/sprite.svg#easy"></use>
                </svg>
            </span>
            <h3 class="feature__heading">Easy Start & Managed Updates</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, culpa.</p>
            <a class="link-arrow" href="#"> Learn More</a>
        </div>
        <img class="feature__image" src="images/easy.jpg">   
    </article>
</section>